.header{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 250px;
}

.header-two{
    font-size: 18px;
    font-weight: italic;
    margin-bottom: 20px;
    margin-left: 250px;
}

.inv-containeer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
    margin-left: 250px;
    background-color: rgb(223, 217, 217);
    padding: 20px;
    border-radius: 2rem;
    height: 400px;
    width: 1000px;
}

.inv-card{
    background-color: #faf4f4;
    border-radius: 2rem;
    padding: 10px;
    text-align: center;
}


.inv-details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
    margin-left: 250px;
    background-color: rgb(250, 250, 250);
    padding: 20px;
    border-radius: 2rem;
    height: 400px;
    width: 1000px;
}