.header{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 250px;
}

.header-two{
    font-size: 18px;
    font-weight: italic;
    margin-bottom: 20px;
    margin-left: 250px;
}