.sidebar {
  height: 100vh;
  background: #111827; /* deep navy vibes */
  color: #fff;
  padding: 20px;
  position: fixed; /* stays on the left */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.sidebar a {
  color: #d1d5db; 
  text-decoration: none;
  padding: 10px 0;
  transition: 0.3s ease;
  font-size: 1rem;
  display: block;
}

.sidebar a:hover {
  color: #fff;
  transform: translateX(5px);
}

.sidebar a.active {
  color: #fbbf24; 
  font-weight: bold;
}
