.dashboard {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
}

.dash-header{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
