body{
    background-color: rgb(223, 218, 218);
}

.welcome-message {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
    margin-left: 250px;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 238, 238);
  height:400px;
  width: 1000px;
  margin-left: 250px;
  border-radius: 2rem;
}


.total-balance {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  font-size: 16px;
  font-family: 'Avenir', sans-serif;
}

.balance-amount {
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px;
}

.all-accounts {
  font-size: 20px;
  color: black;
  cursor: pointer;
  margin-top: 10px;
  margin: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card-details {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 150px;
}

.accounts-label {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.more-details {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 20px;
  
}

.more-details button{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(107, 82, 46);
    
}

.more-details button:hover{
    background-color: green;
    color: white;
    transition: 0.3s;
}

.more-details-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px;
  margin-left: 250px;
  background-color: rgb(243, 238, 238);
  padding: 20px;
  border-radius: 2rem;
  
}

.details{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 300px;
}

.new-container{
    margin-left: 250px;
    margin-top: 20px;
    background-color: rgb(243, 238, 238);
    width: 1000px;
    height: 300px;
    border-radius: 2rem;
    padding: 20px;
}

.user-icon{
  color: #d1c2c2;
  font-size: 100px;
  float: left;
}

.wallet-icon{
  color: #d1c2c2;
  font-size: 60px;
  float: right;
}