.login-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2{
    text-align: center;
    margin-bottom: 20px;
}

.login-container label{
    margin-bottom: 5px;
    font-weight: lighter;
    color: rgb(99, 103, 107);
}

.login-container input{
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-radius: 8px;
}

.login-container button{
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.login-container a{
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

.login-container a:hover{
    text-decoration: underline;
}

.login-container label:last-of-type{
    margin-top: 15px;
    font-weight: normal;
}

.login-container input:focus{
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.login-container p{
    justify-items: center;
    align-items: center;
    text-align: center;
}



.login-container img.logo{
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    display: block;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
    
}