.register-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 650px;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container h2{
    text-align: center;
    margin-bottom: 20px;
}

.register-container label{
    margin-bottom: 5px;
    font-weight: lighter;
    color: rgb(99, 103, 107);
}

.register-container input{
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.register-container button{
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.register-container a{
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

.register-container img.logo{
    display: block;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}