
.btn-open-form{
    margin-left: 220px;
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.add-account-form{
    margin-left: 220px;
    display: flex;
    flex-direction: row;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    height: auto;
}

.add-account-form input{
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-account-form button{
    padding: 10px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.add-account-form button:hover{
    background-color: #45a049;
}

.add-account-form label{
    margin-bottom: 5px;
    font-weight: bold;
}

.add-account-form button-group{
    display: flex;
    justify-content: space-between;
}