.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* translucent dark */
    backdrop-filter: blur(4px);    /* glass effect */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    animation: popIn 0.25s ease-out;
}

@keyframes popIn {
    from {
        transform: scale(0.95);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.btn-open-form {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 250px;
}

.h-account {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #333;
    margin-left: 250px;
}

.btn-open-form:hover {
    background-color: #0069d9;
}

.add-account-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

.add-account-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}


.modal-content input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.modal-content input{
    transition: border-color 0.3s, box-shadow 0.3s;

}

.btn-submit, .btn-cancel {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #2d7ed4;
    gap: 20px;
    margin: 20px 5px 0px 0px;
}


.account-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
    margin-left: 250px;
    background-color: rgb(243, 238, 238);
    padding: 20px;
    border-radius: 2rem;
    height: 400px;
    width: 1000px;

}


.account-datails{
    background-color: #faf4f4;
    border-radius: 2rem;
    
}

.details-btn{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 40px;
    background-color: rgb(44, 209, 58);
    justify-content: center;
    margin-top: 320px;
    margin-left: 100px;

}

.details{
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    
}

.trans-container{
    margin-left: 250px;
    margin-top: 20px;
    background-color: rgb(243, 238, 238);
    width: 1000px;
    height: 300px;
    border-radius: 2rem;
    padding: 20px;
}

.trans-container label{
    display: flex;
    align-items: center;
    text-align: center;
}