.card-container {
  display: grid;
  gap: 20px;
  margin-left: 220px;
  width: 80%;
}

.big-card {
  grid-column: span 2; /* spans two columns */
  padding: 30px;
  font-size: 1.2rem;
  width: 80%;
}

.transaction-section{
  margin-left: 220px;
  display: flex;
  flex-direction: column;
}


.transaction-card{
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  background-color: #f9f9f9;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.accounts-section h1{
    margin-left: 220px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}