.income-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.income-container ul {
    list-style: none;
    padding: 0;
}

.income-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.income-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;

}

.income-container button:hover {
    background-color: #4CAF50;

}

.income-container button:active {
    background-color: #4CAF50;
    color: white;
}

.income-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.income-container input:hover {
    border-color: #4CAF50;
}

.income-container input:active {
    border-color: #4CAF50;

}

.income-container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.income-container select:hover {
    border-color: #4CAF50;

}

.income-container select:active {
    border-color: #4CAF50;
}

.income-container ul {
    list-style: none;
    padding: 0;

}


.income-container li button:hover {
    background-color: #4CAF50;
}

.income-container li button:active {
    background-color: #4CAF50;

}

.income li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    margin-left: 200px;
}