.transactions {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100vh;
    margin: 80px auto;
    padding: 20px;

}

.transactions-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.transactions-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.transactions-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.transactions-form button:hover {
    background-color: #45a049;
}

.transactions ul {
    list-style: none;
    padding: 0;
}

.transactions li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.transactions li button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.transactions li button:hover {
    background-color: #d32f2f;
}

.transactions select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}


.transactions label {
    font-weight: lighter;
    color: rgb(99, 103, 107);
}